/* client/src/pages/TextGenerationPage.css */

.text-generation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .input-group {
    margin: 10px 0;
  }
  
  .input-group label {
    font-weight: bold;
  }
  
  input, select {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 8px;
    min-width: 100px;
    border-radius: 10px;
  }
    
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .generated-text {
    text-align: left;
    margin-top: 30px;
    padding: 5px 20px;
    max-width: 1000px;
    word-wrap: break-word;
    border: 2px solid #979797;
    border-radius: 10px;
    background-color: #ffffff;
  }
  